@import '../../@constants/constants';

header {
  @extend %layout-bg-style;
  display: flex;
  justify-content: center;
}

.app-header {
  width: 100%;
  margin: 0;
  text-shadow: #a8e4ff 2px 2px 0px, #9C9C9C 4px 4px 0px, 2px 2px 2px rgba(206,89,55,0);
  font-size: 50px;
  font-weight: 800;
  color: $header-text;
  letter-spacing: 5px;
}

.logIn-btn {
  align-self: center;
  margin-right: 15px;
}
