$layout-bg: #ffffffcc;
$header-text: #3a63b9;
$light-text:  #8d8d8d;
$theme-color1: #ff7e33;
$theme-color2: #185db8;
$favorite-icon: #ffd700;

%layout-bg-style {
  margin: 10px auto;
  background: $layout-bg;
  max-width: 1900px;
  border-radius: 10px;
}
